@page
@model RazorPagesCG.Pages.Characters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Profession)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Profession)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.TimesPlayed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.TimesPlayed)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Character.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
